<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>trungnd.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>trungnd.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>trungnd.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>trungnd.controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>trungnd.controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleController</servlet-name>
        <servlet-class>trungnd.controller.SearchArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailsController</servlet-name>
        <servlet-class>trungnd.controller.ShowDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>trungnd.controller.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>trungnd.controller.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentController</servlet-name>
        <servlet-class>trungnd.controller.PostCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentController</servlet-name>
        <servlet-class>trungnd.controller.DeleteCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeController</servlet-name>
        <servlet-class>trungnd.controller.LikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DislikeController</servlet-name>
        <servlet-class>trungnd.controller.DislikeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleController</servlet-name>
        <url-pattern>/SearchArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailsController</servlet-name>
        <url-pattern>/ShowDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/DeletePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentController</servlet-name>
        <url-pattern>/PostCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentController</servlet-name>
        <url-pattern>/DeleteCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeController</servlet-name>
        <url-pattern>/LikeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DislikeController</servlet-name>
        <url-pattern>/DislikeController</url-pattern>
    </servlet-mapping>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>trungndse140274@fpt.edu.vn</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>trungtyty254143</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            loginPage.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
